:where([data-manamoji]) {
  --_aspect-ratio: calc(var(--manamoji-width) / var(--manamoji-height));
  --_font-size: var(--manamoji-font-size, 1.1em);
  --_offset-top: var(--manamoji-offset-top, calc(1 / 16 * var(--_font-size)));
  --_shadow-color: var(--manamoji-shadow-color, rgba(0 0 0 / 90%));
  --_shadow-size: var(--manamoji-shadow-size, calc(1 / 16 * var(--_font-size)));

  display: inline-block;
  font-size: var(--_font-size);
  line-height: 1;
  overflow: hidden;
  padding-bottom: var(--_shadow-size);
  position: relative;
  top: calc(var(--_offset-top) + var(--_shadow-size));
  white-space: nowrap;
  width: calc(1em * var(--_aspect-ratio) + var(--_shadow-size));

  &::before,
  &::after {
    aspect-ratio: var(--_aspect-ratio);
    box-sizing: border-box;
    content: "\00a0";
    display: inline-block;
    height: 1em;
  }

  &::before {
    background-color: var(--_shadow-color);
    border-radius: 9999px;
    left: calc(-1 * var(--_shadow-size));
    margin-left: var(--_shadow-size);
    opacity: var(--manamoji-shadow-opacity, 1);
    position: relative;
    top: var(--_shadow-size);
  }

  &::after {
    background-image: var(--manamoji-png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    left: var(--_shadow-size);
    position: absolute;
    top: 0;
  }

  &:where(
      [data-manamoji~="100A" i],
      [data-manamoji~="100B" i],
      [data-manamoji~="1000000A" i],
      [data-manamoji~="1000000B" i],
      [data-manamoji~="1000000C" i],
      [data-manamoji~="1000000D" i],
      [data-manamoji~="CHAOS" i],
      [data-manamoji~="D" i],
      [data-manamoji~="E" i],
      [data-manamoji~="H" i],
      [data-manamoji~="HR" i],
      [data-manamoji~="HW" i],
      [data-manamoji~="L" i],
      [data-manamoji~="P" i],
      [data-manamoji~="PW" i],
      [data-manamoji~="TK" i]
    )::before {
    --_shadow-color: transparent;
    --_shadow-size: 0;
  }

  & > * {
    display: none;
  }
}
